<ion-header>
  <ion-toolbar class="grad-blue">
    <ion-title>
    Mes Annonces
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    
    <!-- Utilisez *ngFor pour itérer à travers les annonces -->
    <ion-card *ngFor="let annonce of selectedAnnonces.reverse()">
      <ion-card-header>
       
      </ion-card-header>
      <ion-card-content>
         <!-- Ajoutez un bouton pour supprimer l'ion-card -->
         <ion-button color="danger" (click)="supprimerAnnonce(annonce)">Supprimer</ion-button>
          
        <!-- Ajoutez une balise <img> pour afficher l'image de l'annonce -->
        <!-- <img [src]="annonce['images']" alt="Image de l'annonce" > -->
        <ion-row>
        <ion-col *ngFor="let imageUrl of annonce['images'] " >
          <img  [src]="imageUrl" alt="Image de l'annonce" (click)="previewImage(imageUrl)">
          
        </ion-col>
      </ion-row>
        <p>Description : {{ annonce['description'] }}</p>
        <p>Téléphone 1 : {{ annonce['phone1'] }}</p>
        <p>Téléphone 2 : {{ annonce['phone2']}}</p>
        <p>Téléphone 3 : {{ annonce['phone3']}}</p>
        <p>Statut : {{ annonce['statut ']}}</p>
        <p>Ville : {{ annonce['ville'] }}</p>
        <p>Pays : {{ annonce['pays'] }}</p>
        <p>Quartier : {{ annonce['quartier'] }}</p>
        <p>Référence annexes : {{ annonce['referenceAnnexes'] }}</p>
        <p>Prix du bien en FCFA : {{ annonce['prix'] }}</p>
        <p>Statut du prix : {{ annonce['prixStatus'] }}</p>
        <p>Date de création de l'annonce : {{ annonce['dateAnciennete'] }}</p>
        <p>Taille du bien : {{ annonce['taille'] }}</p>
        <p>Référence annexes du bien : {{ annonce['referenceAnnexesBien'] }}</p>

      </ion-card-content>
    </ion-card>

</ion-content>
